
<div class="container text-center" style="margin-top: 50px;">
  <h3>My Todo List</h3>
  <ul class="list-group">
    <li *ngFor="let task of tasks" class="list-group-item d-flex justify-content-between align-items-center">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" [checked]="task.completed" (change)="toggleCompleted(task)">
        <label class="form-check-label">{{ task.title }}</label>
      </div>
      <div class="task-description">{{ task.description }}</div>
      <button class="btn btn-danger ms-2" (click)="deleteTask(task)" [disabled]="isDisabled">
        <i class="bi bi-trash"></i>
      </button>
    </li>
  </ul>
  <app-new-task (taskAdded)="addTask($event)"></app-new-task>
</div>

  
